<% for(var i=0; i<1; i++) { %>
<div class="card card-border mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Турист: №1</h5>
        <button class="btn btn-outline-primary">
        Выбрать туриста из уже существующих <span class="icon-user-plus ml-2"></span>
        </button>

    </div>
    <div class="card-body">

        <form action="" class="d-flex justify-content-between">
            <div class="form-group fb-48">
                <label for="">Имя</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group fb-48">
                <label for="">Фамилия</label>
                <input type="text" class="form-control">
            </div>

        </form>
    </div>
</div>
<% } %>