body{
  background: #e30513;
  padding: 10%;
}
.bg-white{
  background: white;
}
.bg-red{
  background: #e30513;
}
.py-5{
  padding: 2rem;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('./fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('./fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('./fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('./fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'weathericons';
  src: url('./fonts/weathericons-regular-webfont.eot');
  src: url('./fonts/weathericons-regular-webfont.woff2') format('woff2'), url('./fonts/weathericons-regular-webfont.woff') format('woff'), url('./fonts/weathericons-regular-webfont.ttf') format('truetype'), url('./fonts/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'simple-line-icons';
  src: url('./fonts/Simple-Line-Icons.eot?v=2.4.0');
  src: url('./fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('./fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), url('./fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('./fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('./fonts/Simple-Line-Icons.svg?v=2.4.0#Simple-Line-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
input{
  color: white !important;
}
.autoCompleate{
  padding-left: 0;
  list-style: none;
  min-width: 325px;
  &-item{


    &__header{
      padding: 12px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f5f5f5;
      cursor: pointer;
      small{
        color: #5a6268;
      }
      &:hover{
        background: #0093d2;
        color: white;
        small{
          color: white;
        }
      }
    }

  }
  &-inner{
    padding-left: 0;
    list-style: none;

    &-item{
      padding: 10px 15px 10px 25px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      &:hover{
        background: #0093d2;
        color: white;
        small{
          color: white;
        }
      }
      small{
        margin-left: 1rem;
        color: #5a6268;
      }
    }
  }
}

.theme-search-area-section-sm .theme-search-area-section-input{
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.popupForm{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background: white;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.theme-search-area-section{
  ::placeholder{
    color: rgba(255, 255, 255, 0.5);
  }
  .lin{
    color: white;
  }
}



.lds-roller {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  transform: scale(0.3);
}
.lds-roller div {

  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;

  margin: -4px 0 0 -4px;
  background:white;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input_preloader{
  position: absolute;
  top: 4px;
  right: 11px;

}