<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mb-4">
            <div class="card card-hover ">

                    <picture class="card-img">
                        <img class="img-fluid" src="./img/home_slider/slider-101-1.jpg" alt="">
                    </picture>
                <div class="card-body">
                        <h3>Adipisicing labore</h3>
                        <div class="hr"></div>
                        <p>Adipisicing labore laborum.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card card-hover">

                        <picture class="card-img">
                            <img class="img-fluid" src="./img/home_slider/slider-103.jpg" alt="">
                        </picture>
                    <div class="card-body">
                            <h3>Adipisicing labore</h3>
                            <div class="hr"></div>
                            <p>Adipisicing laboreasfas aksdasdkas .</p>
                    </div>
                </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card card-hover">

                        <picture class="card-img">
                            <img class="img-fluid" src="./img/home_slider/slider-103.jpg" alt="">
                        </picture>
                    <div class="card-body">
                        <h3>Adipisicing labore</h3>
                        <div class="hr"></div>
                        <p>Adipisicing labore laborum commodo.</p>
                    </div>
                </div>
        </div>
        <div class="col-12 col-lg-8 mb-4">
                <div class="card card-hover">

                        <picture class="card-img">
                            <img class="img-fluid"  src="./img/home_slider/slider-101-1.jpg" alt="">
                        </picture>
                    <div class="card-body">
                            <h3>Adipisicing labore</h3>
                            <div class="hr"></div>
                            <p>Adipisicing labore laborum commodo consectetur qui minim ut pariatur et aliquip ipsum ullamco tempor.</p>
                    </div>
                </div>
        </div>
        <div class="col-12 col-lg-8 mb-4 mb-lg-0">
                <div class="card card-hover">

                        <picture class="card-img">
                            <img class="img-fluid"  src="./img/home_slider/slider-101-1.jpg" alt="">
                        </picture>
                    <div class="card-body">
                            <h3>Adipisicing labore</h3>
                            <div class="hr"></div>
                            <p>Adipisicing labore laborum commodo consectetur qui minim ut pariatur et aliquip ipsum ullamco tempor.</p>
                    </div>
                </div>
        </div>
        
    </div>
</div>