<% for(var i=0; i<1; i++) { %>
<div class="card card-border mb-4">
    <div class="card-header">
        <h2>Тур в грузию</h2>
        <div class="hr"></div>
        <ul class="list list-hor mb-0">
            <li class="list-item"><span class="icon-place-localizer mr-2"></span>Тур в: <b class="ml-1">Грузия</b></li>
            <li class="list-item"><span class="icon-calendar mr-2"></span>Начало тура:<b class="ml-1">21.02.2019</b></li>
            <li class="list-item"><span class="icon-map2 mr-2"></span>Маршрут:<b class="ml-1">Минск-Москва-Грузия</b></li>
            <li class="list-item"><span class="icon-clock mr-2"></span>Продолжительность:<b class="ml-1">7 дней</b></li>
            <li class="list-item"><span class="icon-calendar mr-2"></span>Даты тура:<b class="ml-1">21.0.2201</b></li>
        </ul>
    </div>
    <div class="card-body ">
        <div class="card-row">
            <div class="card-col">
                понедельник <br>
                <b class="h5 mb-0">21.02.2019</b>
            </div>
            <div class="card-col">
            <div class="btn outline-gray card-border p-0 rounded-circle my-auto "
                 style="line-height: 1 ">
                <span class="icon-arrow-right2"></span>
            </div>
            </div>
            <div class="card-col">
                вторник <br>
                <b class="h5 mb-0">29.02.2019</b>
            </div>
            <div class="card-col">
                <div class="h5 mb-0 d-flex align-items-center"><span class="mr-1">+</span>
                    <span class="text-center d-flex flex-column justify-content-center"><b
                            class="text-secondary"
                            style="line-height: 1">190 usd</b>  <small
                            style="line-height: 1">120 byn</small></span></div>
            </div>
            <div class="card-col text-danger" style="line-height: 1">
                <small>скидка</small>
                <span>
                                            10 usd
                                            </span>
            </div>

        </div>
    </div>


    <div class="card-footer">
        <div class="card-row  justify-content-sm-start">
            <div class="card-col mr-3 ml-0">
                <div>
                    <span class="icon icon-user mr-2"></span>5 человек
                </div>
            </div>
            <div class="card-col">
                <div>
                    <span class="icon-clock mr-2"></span>7 дней
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>