.quantity-selector-controls{
  position: relative !important;
  li{
    height: 30px;
    line-height: 30px;
    margin-left: 9px;
    a{
      cursor: pointer;
      transition: .3s transform;
      transform: scale(1);
      width: 30px;
      height: 30px;
      line-height: 28px;
      &:active{
        transition: .3s transform;
        transform: scale(.9);
      }
    }
  }

}
.quantity-selector-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.quantity-selector-box{
  position: static !important;
  min-width: 250px;
}
.quantity-selector-title{
  display: flex;
  flex-direction: column;
  small{
    line-height: 1;
    color: #999 !important;
  }
}
