<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta http-equiv="x-ua-compatible" content="ie=edge">

<!--    <link rel="stylesheet" href="./assets/bootstrap.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet';" />-->
    <link rel="stylesheet" href="./assets/fonts.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet';" />
<link rel="stylesheet" href="./assets/owl.carousel.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet';" />
<link rel="stylesheet" href="./assets/owl.theme.default.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet';"/>
<noscript>
    <link rel="stylesheet" href="./assets/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/fonts.min.css" />
 <link rel="stylesheet" href="./assets/owl.carousel.css" />
 <link rel="stylesheet" href="./assets/owl.theme.default.css" />
</noscript>
  <title><%=title%></title>
</head>

