.tour-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 10px;
    top: .5rem;
}
.tour-options li {list-style-type: none;
    padding: 0;
margin: 0;}
.tour-options-item {
    margin-bottom: .25rem !important;
    font-size: 13px;
    padding: .15rem 1rem !important;
    text-align: center;
    box-shadow: 1px 3px 6px rgba(0,0,0,.3);
    background: white;
    color: white;
}
/*.nav.nav-tabs li{*/
/*    margin-bottom: ;*/
/*}*/
.nav.nav-tabs li a{
    padding: 1rem;
    display: block;
}
.nav.nav-tabs li a.active{
    background: white;
}