.custom-switcher {
  height: 20px;
  filter: grayscale(1);
  .switch-input {
    display: none;
  }
  .switch-label {
    position: relative;
    display: inline-block;
    min-width: 34px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
  }
  .switch-label:before,
  .switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9e9e9e;
    border-radius: 8px;
  }

  .switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fafafa;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
      0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  }

  .switch-label .toggle--on {
    display: none;
  }
  .switch-label .toggle--off {
    display: inline-block;
  }
  .switch-input:checked + .switch-label:before {
    background-color: #9e9e9e;
  }

  .switch-input:checked + .switch-label:after {
    background-color: #fafafa;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
  }
  .switch-input:checked + .switch-label .toggle--on {
    display: inline-block;
  }
  .switch-input:checked + .switch-label .toggle--off {
    display: none;
  }
  &.primary {
    .switch-input:checked + .switch-label:after {
      background: #e4a216;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }
    .switch-input:checked + .switch-label:before {
      background: #ffc700;
      mix-blend-mode: normal;
      /* Input */
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
  &.secondary {
    .switch-input:checked + .switch-label:after {
      background: #219653;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }
    .switch-input:checked + .switch-label:before {
      background: #6fcf97;
      mix-blend-mode: normal;
      /* Input */
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
  .switch-input[disabled]:checked + .switch-label:before,
  .switch-input[disabled] + .switch-label:before {
    filter: invert(1);
    background: rgba(0, 0, 0, 0.1);
  }
  .switch-input[disabled]:checked + .switch-label:after,
  .switch-input[disabled] ~ .switch-label:after {
    background: #b0b0b0;
    /* Shadow Button */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.custom-switcher-container {
  display: flex;
  align-items: center;
}
.custom-switcher-text {
  margin-left: cr(18px);
  color: $a-color;
}
