@function cr($size) {
  $remSize: $size / 18px;
  @return #{$remSize}rem;
}
._animation_before {
  background: white;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  &.active {
    opacity: 0.5;
    z-index: 999;
  }
}
.top-nav-collapse {
  position: fixed;
  line-height: cr(20px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: cr(58px) 0;
  z-index: 1000;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: -1;
  background-color: #f7f5e8;
  overflow: auto;
  .h6 {
    font-family: $font-main;
    font-weight: 500;
  }
  &.active {
    opacity: 1;
    z-index: 1000;
  }
  &.animated {
    animation-duration: 1s;
  }
  .list {
    &-item {
      margin-left: 0;
      line-height: cr(23px);
      margin-bottom: cr(15px);
      position: relative;
      &::before {
        display: none;
      }
      .h4 {
        font-size: cr(24px);
      }
      a {
        color: #000;
        text-decoration: none;
        transition: color 0.2s;
        width: 90%;
        display: inline-block;
        text-align: left;
        font-size: cr(18px);
        line-height: cr(23px);
        &:hover {
          transition: color 0.2s;
          color: #e4a216;
        }
        &.tree-toggle {
          &:after {
            content: "\e906";
            position: absolute;
            font-family: "icomoon";
            color: #000;
            position: absolute;
            right: 0;
            top: 0;
            transform: rotate(90deg);
          }
          &.active {
            color: #e4a216;
            &:after {
              content: "\e906";
              position: absolute;
              font-family: "icomoon";
              color: #e4a216;
              position: absolute;

              top: 0;
              transform: rotate(270deg);
            }
          }
          &:hover {
            transition: color 0.2s;
            color: #e4a216;
            &:after {
              content: "\e906";
              position: absolute;
              font-family: "icomoon";
              color: #e4a216;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }
    }
  }
  .list-nested {
    margin: cr(26px) 0;
    margin-left: 1.5rem;
  }
}
.top-nav-collapse .list-nested .list-item {
  a {
    &:after {
      content: "";
    }
    &:hover {
      transition: color 0.2s;
      color: #e4a216;
      &:after {
        content: "\e906";
        position: absolute;
        font-family: "icomoon";
        color: #e4a216;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(0);
      }
    }
  }
}

@keyframes animationBackground {
}
