<div class="d-flex align-items-center">

<button type="button" class="btn bg-danger p-0 text-white" data-toggle="modal" data-target="#deleteOffer">
    <span class="icon-bin"></span>
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteOffer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <h4 class="text-center h4">Вы уверены что хотите отменить бронирование?</h4>
                <div class="bg-light p-3">
                <h5>Правила отмены:</h5>
                    <ul>
                        <li>lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore</li>
                        <li>English. Many desktop publishing packages and web page editors</li>
                        <li>There are many variations of passages of Lorem Ipsum available, bu</li>
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Да</button>
                <button type="button" class="btn btn-primary">нет</button>
            </div>
        </div>
    </div>
</div>