<% Items.forEach(function(item,index){ 
  var id = 'collapse' + index;
  %>

<div id="accordion" class="card-question with-collapse mb-4 ml-5 wow fadeInUp">
  <div class="card-body collapsed" data-toggle="collapse" data-target=<%="#"%><%= id %> aria-expanded="false"
    aria-controls=<%= id %>>
    <div class="d-md-flex">
      <div class="card-question-img">
        <svg>
          <use xlink:href="./img/sprite.svg<%= item.img %>"></use>
        </svg>
      </div>
      <p class="p my-auto text-justify text-md-left">
        <span class="d-md-none mr-2"><%= index+1 %>.</span>
        <%= item.text %>
      </p>
      <div class="tags tags-position d-none d-md-flex">
        <span><%= index+1 %></span>
      </div>
    </div>
  </div>

  <div id=<%= id %> class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
    <div class="d-flex justify-content-between">
      <div class="tags tag-text">
        <span class="icon-refresh-cw mr-2"></span>
        <span class="d-none d-sm-inline"> Последнее обновление:</span> 14:15, 30 мая 2019 г.
      </div>
      <div class="tags tag-text">
        <span class="icon-eye mr-2"></span>
        <span> 434</span>
      </div>
    </div>
    <div class="collapse-text">
      <p class="p">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </p>
      <p class="p">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </p>
    </div>

    <hr />
    <div class="collapse-control flex-column flex-lg-row">
      <p class="p col-auto col-lg mr-lg-3">
        <small> 97% считают ответ полезным</small>
        Для Вас ответ оказался полезным?
      </p>

      <div class="d-flex jusify-content-between btn-thumbs-container">
        <button class="btn btn-outline-primary mx-4 mx-lg-0 mt-3 mt-lg-0">
          <span class="icon-thumbs-up"></span>
          <span class="btn-text">Да</span>
        </button>
        <button class="btn btn-outline-primary mx-4 mr-lg-0 ml-lg-2 mt-3 mt-lg-0">
          <span class="icon-thumbs-down"></span>
          <span class="btn-text">Нет</span>
        </button>
      </div>
      <hr class="d-lg-none" />
      <button class="btn btn-outline-primary  mx-auto mx-lg-2 mb-3 mb-lg-0">
        <span class="icon-share-2"></span>
        <span class="btn-text">Поделиться</span>
      </button>
      <button class="btn btn-outline-primary d-none  d-lg-flex">
        <span class="icon-printer"></span>
        <span class="btn-text">На печать</span>
      </button>
    </div>
  </div>
</div>
<% }) %>