.breadcrumb{
  background-color: transparent !important;
  padding-left: .25rem !important;
  margin-bottom: 0;
  &-white{
    .breadcrumb-item{
      &.active{
        color: #adb5bd;

      }
      a{
        color: white;
        position: relative;

      }

    }
  }
  &-item{

    a{
      color: $main-color-text;
      position: relative;

    }

  }
  @include media-breakpoint-down('md'){
   justify-content: center;
  }
}