.main-contact{
 
        position: relative;
        min-height: 60vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .card{
            background: white;
        }
    
    
}
.map-frame{
    top: 0;
    height: 0;
    position: absolute;
    width: 100%;
    height: 100%;    
    iframe{
        height: 100%;
    }
}

