
<div class="owl-carousel owl-theme js-main_slider align-self-end" id="main_slider-v3--text" >
                <% Items.forEach(function(item,index){ %>


                                <div class="main_slider-v3--item-text">
                                        <span class="h3">
                                            Рождество в Санкт-Петербурге!
                                        </span>
                                        <p>
                                            Канун Рождества – это долгожданное и необыкновенное время в Северной столице. Именно поэтому стоит купить тур в Санкт-Петербург и насладиться множеством праздничных событий.
                                        </p>
                                        <a href="#" class="btn btn-secondary">
                                                <span class="icon icon-book mr-2" style="font-weight: bolder"></span>
                                                Подробнее
                                        </a>
                                </div>



                <% }) %>
</div>



