<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Перезвонить мне</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="form-contact--container">
                <div class="form-group">
                        <label for="">Телефона *</label>
                        <input type="text" name="phone" class="form-control" placeholder="+375(xx) xxx-xx-xx">
                </div>
                <div class="form-group">
                                <label for="">Имя *</label>
                                <input type="text" name="name" class="form-control" placeholder="Иванов Иван">
                        </div>
                <div class="form-group">
                                        <label for="">Я не робот *</label>
                                        <div class="d-flex">
                                        <img src="./img/logo-heade.png" alt="captcha" style="background: black; width:200px" class="mr-2">
                                        <input type="text" name="name" class="form-control" placeholder="Текст с изображения">
                                       </div>
                </div>
                <div class="form-group pt-3">
                        <button class="btn btn-secondary mx-auto mt-3">
                            <span class="icon icon-send mr-2" style="font-weight: bolder"></span> Отправить
                        </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>