<div class="container-fluid main-contact">
        <div class="row">
                <div class="map-frame">
                        <iframe src="https://yandex.by/map-widget/v1/-/CCsnb1S" width="1920" height="400" frameborder="0" allowfullscreen="true"></iframe> 
                </div>
        </div>
   
        <div class="row h-100 align-items-center">
                <div class="container">
                        <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                                <div class="card card-border">
                                        <div class="card-body">
                                <h3>Контакты</h3>
                                <div class="hr"></div>
                                <ul class="contact--list">
                                        <li class="contact--list-item"> <span class="icon icon-place-localizer "></span>г. Минск, ул. Веры Хоружей, д. 1А ТЦ Силуэт, 2ой этаж, балконы, офис А7</li>
                                        <li class="contact--list-item"><span class="icon icon-clock "></span> Пн - Сб: 10:00 - 19:00</li>
                                        <li class="contact--list-item"><span class="icon icon-mail2"></span> travellabminsk@gmail.com</li>
                                        <li class="contact--list-item">
                                                <span class="icon icon-phone"></span>
                                                <span>
                                                        +375 (29) 369-45-89 
                                                        <br>+375 (29) 777-97-23
                                                </span>
                                        </li>
                                </ul>
                                <button type="button" class="btn btn-secondary mx-auto" data-toggle="modal" data-target="#exampleModal">
                                                <span class="icon icon-phone mr-2"></span>
                                                Перезвонить мне
                                              </button>
                                              
                                              <!-- Modal -->
                                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      ...
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                <!-- <form action="" class="form-contact--container">
                                <div class="form-group">
                                        <label for="">Телефона *</label>
                                        <input type="text" name="phone" class="form-control" placeholder="+375(xx) xxx-xx-xx">
                                </div>  
                                <div class="form-group">
                                                <label for="">Имя *</label>
                                                <input type="text" name="name" class="form-control" placeholder="Иванов Иван">
                                        </div> 
                                <div class="form-group">
                                                        <label for="">Я не робот *</label>
                                                        <div class="d-flex">
                                                        <img src="./img/logo-heade.png" alt="captcha" style="background: black; width:200px" class="mr-2">
                                                        <input type="text" name="name" class="form-control" placeholder="Текст с изображения">
                                                       </div>
                                </div>   
                                <div class="form-group pt-3">
                                        <button class="btn btn-secondary mx-auto mt-3">
                                                Отправить
                                        </button>
                                </div>
                                </form> -->
                                </div>
                        </div>
                  </div>
                </div>
        </div>
        </div>

</div>

