<div class="container-fluid main-contact">
        <div class="row">
                <div class="map-frame">
                        <iframe src="https://yandex.by/map-widget/v1/-/CCsnb1S" width="1920" height="400" frameborder="0" allowfullscreen="true"></iframe>
                </div>
        </div>

        <div class="row h-100 align-items-center">
                <div class="container">
                        <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                                <div class="card card-border">
                                        <div class="card-body">
                                <h3>Контакты</h3>
                                <div class="hr"></div>
                                <ul class="contact--list">
                                        <li class="contact--list-item"> <span class="icon icon-place-localizer "></span>г. Минск, ул. Веры Хоружей, д. 1А ТЦ Силуэт, 2ой этаж, балконы, офис А7</li>
                                        <li class="contact--list-item"><span class="icon icon-clock "></span> Пн - Сб: 10:00 - 19:00</li>
                                        <li class="contact--list-item"><span class="icon icon-mail2"></span> travellabminsk@gmail.com</li>
                                        <li class="contact--list-item">
                                                <span class="icon icon-phone"></span>
                                                <span>
                                                        +375 (29) 369-45-89
                                                        <br>+375 (29) 777-97-23
                                                </span>
                                        </li>
                                </ul>
                                            <div class="d-flex justify-content-center">
                                                <%= button %>
                                            </div>

                                </div>
                        </div>
                  </div>
                </div>
        </div>
        </div>

</div>

