<div class="d-flex flex-wrap">
    <button class="btn btn-social p-0 vk mb-2 mb-sm-0"><span class="icon-vk"></span></button>
    <button class="btn btn-social p-0 tel mb-2 mb-sm-0"><span class="icon-telegram"></span></button>
    <button class="btn btn-social p-0 fb mb-2 mb-sm-0"><span class="icon-facebook"></span></button>
    <button class="btn btn-social p-0 inst mb-2 mb-sm-0"><span class="icon-instagram"></span></button>
    <button class="btn btn-social p-0 vb mb-2 mb-sm-0"><span class="icon-whatsapp"></span></button>
    <button class="btn btn-social p-0 tw mb-2 mb-sm-0"><span class="icon-twitter"></span></button>
    <button class="btn btn-social p-0 goggle mb-2 mb-sm-0"><span class="icon-google"></span></button>
</div>