<div class="sort-filter mb-3">

    <div class="form-group d-flex align-items-center mr-3 ml-lg-auto mb-0">
        <label for="">по цене:</label>
        <button class="btn btn-sm outline-gray p-0 ml-1"><span class="icon-sort-amount-asc"></span></button>
    </div>
    <div class="form-group d-flex align-items-center mb-0">
        <label for="">по дате:</label>
        <button class="btn btn-sm outline-gray p-0 ml-1"><span class="icon-sort-amount-asc"></span></button>
    </div>



    <%= draverBtn %>
</div>