<div class="dropdown">
    <button class="navbar-toggler ml-3 d-block d-lg-none px-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="icon icon-user"></span></button>
    <button class="btn btn-outline-secondary ml-3 d-none d-lg-block" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Войти</button>
    <div class="dropdown-menu dropdown-menu-right pl-0">
        <a class="dropdown-item mx-0" href="#one">Авторизация</a>
        <a class="dropdown-item mx-0" href="#two">Регистрация</a>
        <a class="dropdown-item mx-0" href="#two">Востановление пароля</a>
    </div>
</div>
