<!--<div class="card card-border card-collapse" id="accordionExample">-->

<!--        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--            <h5 class="mb-0">-->
<!--                <button class="btn btn-link" type="button" >-->
<!--                   День 1-->
<!--                </button>-->
<!--            </h5>-->
<!--        </div>-->

<!--                <div id="collapseOne" class="card-body collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">-->

<!--                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->

<!--                </div>-->


<!--                <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--                    <h5 class="mb-0">-->
<!--                        <button class="btn btn-link collapsed" type="button" >-->
<!--                            День 2-->
<!--                        </button>-->
<!--                    </h5>-->
<!--                </div>-->

<!--                <div class="card-body collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
<!--                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--                </div>-->



<!--            <div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
<!--                <h5 class="mb-0">-->
<!--                    <button class="btn btn-link" type="button" >-->
<!--                      День 3-->
<!--                    </button>-->
<!--                </h5>-->
<!--            </div>-->

<!--            <div class="card-body collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">-->
<!--                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--            </div>-->


<!--</div>-->


<div class="accordion" id="accordionExample">
    <div class="card card-border card-collapse"  >
        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"  aria-expanded="true" aria-controls="collapseOne" >
            <h5 class="mb-0">
                День 1

            </h5>
            <button class="btn btn-link dropdown-toggle" >

            </button>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body  ">
                <img src="./img/home_slider/slider-101.jpg" class="img-fluid mb-4" alt="" >

                <p class="">18:00 Выезд из Минска на комфортабельном автобусе. Вы становитесь частью команды #Travellab и едете в хорошей компании, смотрите отличные фильмы, настраиваясь на незабываемое путешествие..</p>

            </div>
        </div>
    </div>
    <div class="card card-border card-collapse">
        <div class="card-header collapsed" id="headingTwo"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0">
                День 2
            </h5>
            <button class="btn btn-link collapsed dropdown-toggle" >
            </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body ">
                <img src="./img/home_slider/slider-101.jpg" class="img-fluid mb-4" alt="" >
                    <p>08:00 Прибытие в самый европейский из всех украинских городов - Львов.<br>
                        <br>
                        08:00 - 09:00 Свободное время для завтрака.<br>
                        <br>
                        09:00 Пешеходно-автобусная экскурсия по историческому центру Львова с местным гидом.<br>
                        Площадь Рынок с посещением Итальянского дворика, часовня Боимов, Пороховая башня, Доминиканский костел, Еврейский квартал, Армянский квартал, Оперный театр, пр-т Свободы. Замковая гора, с которой открывается уникальная панорама города, где вы сможете сделать множество красивых фото; Собор Святого Юра - шедевр архитектуры барокко. И другие значимые места средневекового Львова. <br>
                        <br>
                        14:00 Заселение в отель.<br>
                        <br>
                        16:00 Гастрономическая экскурсия по самым интересным и знаменитым заведениям Львова, которая включает в себя дегустации.<br>
                        Начинаем нашу экскурсию с чешской пивоварни. Пивовар откроет Вам все секреты пивоварения, мы посетим производство, и попробуем только живой пенный напиток: Лагер, Десятка, Пшеничное и Черное.<br>
                        <br>
                        Следующий пункт - это встреча с паном Малодобрым, именном тем, кто осуществлял все наказания в Средневековом городе! Тут будем пытать свой желудок запахами из лучшего мясного ресторана Украины и байками в исполнении самого Палача. Если он заметит среди Вас должника - клетка с пытками Вам обеспечена!<br>
                        <br>
                        Есть места для туристов, а есть для местных. Местные во Львове пьют настойки - их 65 видов, и мы начнем с 3-х лучших видов! Если думаете, что на этом наши встречи-приключения окончены, то нет! Мы отойдем на "5 Деко" с главным часовщиком и трубачом, попробуем пользоваться 3-х метровым гуцульским телефоном и услышим невероятные звуки в исполнении местных музыкантов. Дальше мы попадаем в еврейский квартал: в ресторанах надо торговаться, трубочист не чистит трубы, а только наливает, дракон дышит огнем, за поворотом стоит Мазох, и экскурсовод уже рассказывает про невероятного вкуса шоколад - одно мгновение, и Вы в сердце Львова на Площади Рынок!<br>
                        <br>
                        Вы готовы к приключениям, а у гида остались рекомендации для Вашего вечера - хотите в тюрьму, вкусно кушать, танцевать и медовуху - Вам в Крыивку, душа желает изысканности и шика - да Вы – масонское ложе! А как туда попасть и какие пароли надо знать - эта информация только для наших туристов, гиды с удовольствием поделятся с Вами!<br>
                        <br>
                        Внимание! Это не алко-тур, это лучшая экскурсия, которую проводят во Львове! Задача местных гидов - создать настроение на вечер, показать разнообразие вечерней львовской жизни, рассказать только самое интересное, что можно узнать о Львове! И помните, кто не попробовал Львов на вкус, тот там не был! (Длительность 3 часа. Доплата. В стоимость входит: местное крафтовое пиво, настойки и закуски).<br>
                        <br>
                        Свободное время. Можете посетить знаменитые бары и кафе Львова. <a href="../12-zavedenij-lvova?utm_source=tour-vo-lvov" target="_blank">Путеводитель по кафе Львова.</a></p>



            </div>
        </div>
    </div>
    <div class="card card-border card-collapse">
        <div class="card-header collapsed" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            <h5 class="mb-0">
                День 3
            </h5>
            <button class="btn btn-link dropdown-toggle" type="button" >
            </button>

        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
            <div class="card-body  ">
                <div>
                    <img src="./img/home_slider/slider-101.jpg" class="img-fluid mb-4" alt="" >
                    <p>08:00 Прибытие в самый европейский из всех украинских городов - Львов.<br>
                        <br>
                        08:00 - 09:00 Свободное время для завтрака.<br>
                        <br>
                        09:00 Пешеходно-автобусная экскурсия по историческому центру Львова с местным гидом.<br>
                        Площадь Рынок с посещением Итальянского дворика, часовня Боимов, Пороховая башня, Доминиканский костел, Еврейский квартал, Армянский квартал, Оперный театр, пр-т Свободы. Замковая гора, с которой открывается уникальная панорама города, где вы сможете сделать множество красивых фото; Собор Святого Юра - шедевр архитектуры барокко. И другие значимые места средневекового Львова. <br>
                        <br>
                        14:00 Заселение в отель.<br>
                        <br>
                        16:00 Гастрономическая экскурсия по самым интересным и знаменитым заведениям Львова, которая включает в себя дегустации.<br>
                        Начинаем нашу экскурсию с чешской пивоварни. Пивовар откроет Вам все секреты пивоварения, мы посетим производство, и попробуем только живой пенный напиток: Лагер, Десятка, Пшеничное и Черное.<br>
                        <br>
                        Следующий пункт - это встреча с паном Малодобрым, именном тем, кто осуществлял все наказания в Средневековом городе! Тут будем пытать свой желудок запахами из лучшего мясного ресторана Украины и байками в исполнении самого Палача. Если он заметит среди Вас должника - клетка с пытками Вам обеспечена!<br>
                        <br>
                        Есть места для туристов, а есть для местных. Местные во Львове пьют настойки - их 65 видов, и мы начнем с 3-х лучших видов! Если думаете, что на этом наши встречи-приключения окончены, то нет! Мы отойдем на "5 Деко" с главным часовщиком и трубачом, попробуем пользоваться 3-х метровым гуцульским телефоном и услышим невероятные звуки в исполнении местных музыкантов. Дальше мы попадаем в еврейский квартал: в ресторанах надо торговаться, трубочист не чистит трубы, а только наливает, дракон дышит огнем, за поворотом стоит Мазох, и экскурсовод уже рассказывает про невероятного вкуса шоколад - одно мгновение, и Вы в сердце Львова на Площади Рынок!<br>
                        <br>
                        Вы готовы к приключениям, а у гида остались рекомендации для Вашего вечера - хотите в тюрьму, вкусно кушать, танцевать и медовуху - Вам в Крыивку, душа желает изысканности и шика - да Вы – масонское ложе! А как туда попасть и какие пароли надо знать - эта информация только для наших туристов, гиды с удовольствием поделятся с Вами!<br>
                        <br>
                        Внимание! Это не алко-тур, это лучшая экскурсия, которую проводят во Львове! Задача местных гидов - создать настроение на вечер, показать разнообразие вечерней львовской жизни, рассказать только самое интересное, что можно узнать о Львове! И помните, кто не попробовал Львов на вкус, тот там не был! (Длительность 3 часа. Доплата. В стоимость входит: местное крафтовое пиво, настойки и закуски).<br>
                        <br>
                        Свободное время. Можете посетить знаменитые бары и кафе Львова. <a href="../12-zavedenij-lvova?utm_source=tour-vo-lvov" target="_blank">Путеводитель по кафе Львова.</a></p>



                </div>
            </div>
        </div>

    </div>
    <div class="card card-border card-collapse ">
        <div class="card-header collapsed" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            <h5 class="mb-0">
                День 4
            </h5>
            <button class="btn btn-link collapsed dropdown-toggle" type="button" >
            </button>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
            <div class="card-body ">
                <div>
                    <img src="./img/home_slider/slider-101.jpg" class="img-fluid mb-4" alt="" >
                    <p>08:00 Прибытие в самый европейский из всех украинских городов - Львов.<br>
                        <br>
                        08:00 - 09:00 Свободное время для завтрака.<br>
                        <br>
                        09:00 Пешеходно-автобусная экскурсия по историческому центру Львова с местным гидом.<br>
                        Площадь Рынок с посещением Итальянского дворика, часовня Боимов, Пороховая башня, Доминиканский костел, Еврейский квартал, Армянский квартал, Оперный театр, пр-т Свободы. Замковая гора, с которой открывается уникальная панорама города, где вы сможете сделать множество красивых фото; Собор Святого Юра - шедевр архитектуры барокко. И другие значимые места средневекового Львова. <br>
                        <br>
                        14:00 Заселение в отель.<br>
                        <br>
                        16:00 Гастрономическая экскурсия по самым интересным и знаменитым заведениям Львова, которая включает в себя дегустации.<br>
                        Начинаем нашу экскурсию с чешской пивоварни. Пивовар откроет Вам все секреты пивоварения, мы посетим производство, и попробуем только живой пенный напиток: Лагер, Десятка, Пшеничное и Черное.<br>
                        <br>
                        Следующий пункт - это встреча с паном Малодобрым, именном тем, кто осуществлял все наказания в Средневековом городе! Тут будем пытать свой желудок запахами из лучшего мясного ресторана Украины и байками в исполнении самого Палача. Если он заметит среди Вас должника - клетка с пытками Вам обеспечена!<br>
                        <br>
                        Есть места для туристов, а есть для местных. Местные во Львове пьют настойки - их 65 видов, и мы начнем с 3-х лучших видов! Если думаете, что на этом наши встречи-приключения окончены, то нет! Мы отойдем на "5 Деко" с главным часовщиком и трубачом, попробуем пользоваться 3-х метровым гуцульским телефоном и услышим невероятные звуки в исполнении местных музыкантов. Дальше мы попадаем в еврейский квартал: в ресторанах надо торговаться, трубочист не чистит трубы, а только наливает, дракон дышит огнем, за поворотом стоит Мазох, и экскурсовод уже рассказывает про невероятного вкуса шоколад - одно мгновение, и Вы в сердце Львова на Площади Рынок!<br>
                        <br>
                        Вы готовы к приключениям, а у гида остались рекомендации для Вашего вечера - хотите в тюрьму, вкусно кушать, танцевать и медовуху - Вам в Крыивку, душа желает изысканности и шика - да Вы – масонское ложе! А как туда попасть и какие пароли надо знать - эта информация только для наших туристов, гиды с удовольствием поделятся с Вами!<br>
                        <br>
                        Внимание! Это не алко-тур, это лучшая экскурсия, которую проводят во Львове! Задача местных гидов - создать настроение на вечер, показать разнообразие вечерней львовской жизни, рассказать только самое интересное, что можно узнать о Львове! И помните, кто не попробовал Львов на вкус, тот там не был! (Длительность 3 часа. Доплата. В стоимость входит: местное крафтовое пиво, настойки и закуски).<br>
                        <br>
                        Свободное время. Можете посетить знаменитые бары и кафе Львова. <a href="../12-zavedenij-lvova?utm_source=tour-vo-lvov" target="_blank">Путеводитель по кафе Львова.</a></p>



                </div>
            </div>
        </div>
    </div>
</div>