<% for(var i=0; i<5; i++) { %>
<div class="card card-border mb-4">
    <div class="card-body ">
        <div class="card-row">
            <div class="card-col">
                понедельник <br>
                <b class="h5 mb-0">21.02.2019</b>
            </div>
            <div class="card-col">
                <div class="btn outline-gray card-border p-0 rounded-circle my-auto flex-column" style="line-height: 1; ">
                    <span>7</span>
                    <small>дней</small>
                </div>
            </div>
            <div class="card-col">
                вторник <br>
                <b class="h5 mb-0">29.02.2019</b>
            </div>
            <div class="card-col">
                <div class="h5 mb-0 d-flex align-items-center"><span class="mr-1">+</span>
                    <span class="text-center d-flex flex-column justify-content-center"><b
                            class="text-secondary"
                            style="line-height: 1">190 usd</b>  <small
                            style="line-height: 1">120 byn</small></span></div>
            </div>
            <div class="card-col text-danger" style="line-height: 1">
                <small>скидка</small>
                <span>
                                            10 usd
                                            </span>
            </div>
            <div class="card-col">
                <button class="btn btn-secondary"><span class="icon-cart mr-2"></span>Бронировать</button>
            </div>
        </div>
    </div>


    <div class="card-footer">
        <div class="card-row  justify-content-sm-start">
            <div class="card-col d-flex flex-wrap justify-content-around justify-content-md-center flex-md-row">
                <div class="d-flex align-items-center my-2 my-md-0 mr-sm-4">
                    <span class="icon-hotel mr-2"></span>
                    <span class="mr-1">Отель:</span>
                    <ul class="card-rating mb-0 justify-content-center justify-content-md-start">
                        <li><span class="icon icon-star-full"></span></li>
                        <li><span class="icon icon-star-full"></span></li>
                        <li><span class="icon icon-star-full"></span></li>
                    </ul>
                </div>
                <div class="d-flex align-items-center my-2 my-md-0 mr-sm-4">
                    <span class="icon-bed mr-2"></span>
                    <span class="mr-1">Номер:</span> 2 спальный
                </div>
                <div class="d-flex align-items-center my-2 my-md-0 mr-sm-4">
                    <span class="icon-food mr-2"></span>
                    <span class="mr-1">Питание:</span> Завтрак
                </div>
                <div class="d-flex align-items-center my-2 my-md-0 mr-sm-4">
                    <span class="icon icon-couple mr-1"></span>
                    <span class="mr-1">Взрослых:</span> 1
                </div>
                <div class="d-flex align-items-center my-2 my-md-0">
                    <span class="icon icon-sister-and-brother mr-1"></span>
                    <span class="mr-1">детей:</span> 1
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>