<% for(var i=0; i<5; i++) { %>
<div class="card card-border mb-4">
    <div class="card-body">
        <div class="d-flex flex-wrap">
            <div class="d-flex align-items-center justify-content-center flex-column fb-20 ">
                <img src="./img/reviewer-4.png" alt="" width="75px" height="75px" class="rounded-circle">
                <div class="mt-2">Иванов Иван</div>
            </div>
            <div class="fb-80 p-3 mt-3 mt-md-0 bg-light rounded">
                <p><span class="icon icon-calendar mr-1"></span>21.02.2344</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Soluta consectetur
                    et porro
                    voluptatem maiores quidem inventore harum explicabo deserunt fuga minima
                    sed, sit nemo
                    expedita. Dolor aliquid rerum recusandae excepturi.</p>
            </div>
        </div>
    </div>
</div>
<% } %>