<div class="card card-border w-100">
    <div class="card-header d-none d-lg-block">
        <h5 class="mb-0">Параметры поиска</h5>
    </div>
    <div class="card-body">

        <div class="form-group mr-2">
            <label for=""><span class="icon icon-calendar mr-1"></span>Когда</label>
            <input type="text" class="form-control" placeholder="leroaum text giv">
        </div>
        <div class="form-group">
            <label for=""><span class="icon icon-user mr-1"></span>Пассажиров</label>
            <input type="text" class="form-control" placeholder="leroaum text giv">
        </div>
        <div class="btn btn-secondary mx-auto mt-3"> <span class="icon-magnifying-glass mr-2"></span> Искать</div>

    </div>
</div>