<% var color_text = include == true ? 'text-success' : 'text-danger';%>
<div class="card card-border mb-3 card-collapse">
    <div class="card-header d-flex justify-content-between border-0 collapsed" data-toggle="collapse" data-target="#include_<%=include%>" aria-expanded="false" aria-controls="collapseExample">
        <h4 class="my-2 <%= color_text %>"><%= heading %></h4>
        <button class="btn btn-link dropdown-toggle  p-0" type="button"></button>
    </div>
    <div class="collapse" id="include_<%=include%>">
        <div class="card-body ">
            <% if(include == true) { %>
            <ul class="list list-icon include">
                <%} else {%>
                <ul class="list list-icon not-include"><% } %>
                    <% data.forEach(function(item,index){ %>
                    <li class="list-item"> <%= item %>
                    </li>
                    <% }) %>
                </ul>
        </div>
    </div>
</div>
