<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section class=" section-py-20 section-background-gray" id="rewies">
    <div class="container">
        <div class="section-tittle row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <h2 class="text-left">Отзывы</h2>
                <a href="#" class="link">Все отзывы</a>
            </div>

        </div>
    </div>
    <div class="main_rewies--container  container">
        <div class="owl-carousel owl-theme js-rewies_slider owl-loaded owl-drag">


















































            <div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s; width: 10400px; transform: translate3d(-2166px, 0px, 0px);"><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <img class="owl-lazy" data-src="./img/home_slider/slider-103.jpg" alt="slide1" src="./img/home_slider/slider-103.jpg" style="opacity: 1;">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned active" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <img class="owl-lazy" data-src="./img/home_slider/slider-103.jpg" alt="slide1" src="./img/home_slider/slider-103.jpg" style="opacity: 1;">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item active center" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png" srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png" srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1" src="./img/backham.png" style="opacity: 1;">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item active" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <img class="owl-lazy" data-src="./img/home_slider/slider-103.jpg" alt="slide1" src="./img/home_slider/slider-103.jpg" style="opacity: 1;">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <img class="owl-lazy" data-src="./img/home_slider/slider-103.jpg" alt="slide1" src="./img/home_slider/slider-103.jpg" style="opacity: 1;">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <img class="owl-lazy" data-src="./img/home_slider/slider-103.jpg" alt="slide1" src="./img/home_slider/slider-103.jpg" style="opacity: 1;">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png" srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png" srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1" src="./img/backham.png" style="opacity: 1;">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/home_slider/slider-103.jpg" srcset="./img/home_slider/slider-103.jpg">
                    <img class="owl-lazy" data-src="./img/home_slider/slider-103.jpg" alt="slide1" src="./img/home_slider/slider-103.jpg" style="opacity: 1;">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div><div class="owl-item cloned" style="width: 423.333px; margin-right: 10px;"><div class="card  rewies mb-4">

                <picture class="card-img ">
                    <source class="owl-lazy" media="(min-width: 650px)" data-srcset="./img/backham.png">
                    <source class="owl-lazy" media="(min-width: 350px)" data-srcset="./img/backham.png">
                    <img class="owl-lazy" data-src="./img/backham.png" alt="slide1">
                </picture>

                <div class="card-body card-border card-shadow">

                    <div class="card-date"><span class="icon icon-calendar pr-1"></span>21.02.2019</div>
                    <h5 class="card-title">Иван Иванов</h5>
                    <p class="card-text">Ездили во Львов, я была с дочерью 8ми лет, переживала как все пройдет, но реально отдыхом довольны, где была дегустация вина, для детей были детские блюда), гостиницы в которых останавливались были довольно хорошими, наш Гид Филипп был всегда доброжелательным и вежливым, за что ему огромное спасибо!!!</p>


                </div>
            </div></div></div></div><div class="owl-nav"><div class="owl-prev"><button class="btn btn-outline-secondary btn-rounded"><span class="icon icon-arrow-left2"></span></button></div><div class="owl-next"><button class="btn btn-outline-secondary btn-rounded"> <span class="icon icon-arrow-right2"></span></button></div></div><div class="owl-dots disabled"></div></div>
    </div>

</section>
<!--<%= _.template(require('./../includes/components/smart-filter.html').default)() %>-->
<div class="bx-filter-select-popup">
    <ul>
        <li><label for="">123</label></li>
    </ul>

</div>
</body>
</html>