<!DOCTYPE html>
<html lang="ru">
<% var data = { title: "Заголовок | Проект", author: "Harrix" }; %> <%=
_.template(require('./../includes/layout/header.html').default)(data) %>

<body>
<header class="sticky-top">
    <% var back_call_button = _.template(require('./../includes/components/back-call-button.html').default)()
    var social_button = _.template(require('./../includes/components/social-button.html').default)()
    user_dropdown_button = _.template(require('./../includes/components/user-dropdown.html').default)()
    select_lang = _.template(require('./../includes/components/select_lang.html').default)()
    ; %>

    <%= _.template(require('./../includes/components/navbar.html').default)({button:back_call_button,
    user_dropdown_button:user_dropdown_button}) %>


</header>
<main>
    <div class="background-img-container section-pt-10">
        <picture>
            <img loading="lazy" src="./img/home_slider/slider-101.jpg" class="background-img-fixed" style="z-index: -1;"
                 alt="">
        </picture>
        <div class="row section-py-10">
            <div class="container">
                <h1 class="h1 mb-0 text-center  text-white">
                    Календарь туров
                </h1>

                <div class="mx-auto d-flex  w-50 align-items-center justify-content-center mb-2 flex-column flex-lg-row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-white">
                            <li class="breadcrumb-item"><a href="#"><span class="icon-home3 mr-2"></span>Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>

                </div>

            </div>
        </div>
        <section class="row bg-white py-5" id="calendarbTurov">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                    <div class="card card-border">
                        <div class="card-header py-4">
                            <div class="d-flex d-md-none w-100 justify-content-center align-items-center">
                                <label for="" class="mb-0 mr-2"> Месяц:</label>
                                <select name="month" id="" >
                                    <option value="0">Все ...</option>
                                    <option value="1">Январь</option>
                                    <option value="2">Февраль</option>
                                    <option value="3">Март</option>
                                    <option value="4">Апрель</option>
                                    <option value="5">Май</option>
                                    <option value="6">Июнь</option>
                                    <option value="7">Июль</option>
                                    <option value="8">Август</option>
                                    <option value="9">Сентябрь</option>
                                    <option value="10">Ноябрь</option>
                                    <option value="11">Октябрь</option>
                                    <option value="12">Декабрь</option>
                                </select>
                            </div>
                        <div class=" justify-content-center mx-auto d-none d-md-flex">
                            <button class="btn btn-outline-secondary outline-gray mr-3 mb-3 fb-11" data-btnMonth="1">Январь</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3 mb-3 fb-11" data-btnMonth="2">Февраль</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3 mb-3 fb-11" data-btnMonth="3">Март</button>
                            <button class="btn btn-outline-secondary outline-gray  mb-3 fb-11" data-btnMonth="4">Апрель</button>
                        </div>
                            <div class=" justify-content-center mx-auto d-none d-md-flex">
                            <button class="btn btn-outline-secondary outline-gray mr-3   fb-11" data-btnMonth="5">Май</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3   fb-11" data-btnMonth="6">Июнь</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3   fb-11" data-btnMonth="7">Июль</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3   fb-11" data-btnMonth="8">Август</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3   fb-11" data-btnMonth="9">Сентябрь</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3  fb-11" data-btnMonth="10" >Октябрь</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3  fb-11" data-btnMonth="11">Ноябрь</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3  fb-11" data-btnMonth="12">Декабрь</button>
                            <button class="btn btn-outline-secondary outline-gray mr-3 fb-11" data-btnMonth="0">Все...</button>
                            </div>
                        </div>

                        <div class="card-body p-0 overflow-auto">
                            <table class="table table-striped overflow-auto">
                                <thead>
                                <tr>

                                    <th>
                                        Выезд
                                    </th>
                                    <th>
                                        Дни
                                    </th>
                                    <th>
                                        Маршрут
                                    </th>
                                    <th>
                                        Наличие мест
                                    </th>
                                    <th>
                                        Стоимость
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-month="1">

                                    <td>
                                        <strong>23.01.2020</strong>
                                    </td>
                                    <td>
                                        0 дней
                                    </td>
                                    <td>
                                        <a
                                                href="/tours/tur-v-karpaty-skalistaya-krepost-tustan/">ТУР В КАРПАТЫ
                                            «СКАЛИСТАЯ КРЕПОСТЬ ТУСТАНЬ»</a>
                                        <ul class="card-options card-options-hor-static justify-content-center card-options-sm">
                                            <li class="card-options--item best-price"><span
                                                    class="icon icon-fire"></span>Горящий тур
                                            </li>
                                            <li class="card-options--item new"><span class="icon icon-new-label"></span>Новинка
                                            </li>
                                        </ul>

                                    </td>
                                    <td>
                                        под запрос
                                    </td>
                                    <td>
                                        <strong>90 USD</strong>
                                    </td>

                                </tr>
                                <tr data-month="1">
                                    <td>
                                        <strong>23.01.2020</strong>
                                    </td>
                                    <td>
                                        0 дней
                                    </td>
                                    <td>
                                        <a
                                                href="/tours/tur-v-karpaty-skalistaya-krepost-tustan/">ТУР В КАРПАТЫ
                                            «СКАЛИСТАЯ КРЕПОСТЬ ТУСТАНЬ»</a>
                                        <ul class="card-options card-options-hor-static justify-content-center card-options-sm">
                                            <li class="card-options--item best-price"><span
                                                    class="icon icon-fire"></span>Горящий тур
                                            </li>
                                            <li class="card-options--item new"><span class="icon icon-new-label"></span>Новинка
                                            </li>
                                        </ul>

                                    </td>
                                    <td>
                                        под запрос
                                    </td>
                                    <td>
                                        <strong>90 USD</strong>
                                    </td>

                                </tr>
                                <tr data-month="1">
                                    <td>
                                        <strong>23.01.2020</strong>
                                    </td>
                                    <td>
                                        0 дней
                                    </td>
                                    <td>
                                        <a
                                                href="/tours/tur-v-karpaty-skalistaya-krepost-tustan/">ТУР В КАРПАТЫ
                                            «СКАЛИСТАЯ КРЕПОСТЬ ТУСТАНЬ»</a>
                                        <ul class="card-options card-options-hor-static justify-content-center card-options-sm">
                                            <li class="card-options--item best-price"><span
                                                    class="icon icon-fire"></span>Горящий тур
                                            </li>
                                            <li class="card-options--item new"><span class="icon icon-new-label"></span>Новинка
                                            </li>
                                        </ul>

                                    </td>
                                    <td>
                                        под запрос
                                    </td>
                                    <td>
                                        <strong>90 USD</strong>
                                    </td>

                                </tr>
                                <tr data-month="1">

                                    <td>
                                        <strong>23.01.2020</strong>
                                    </td>
                                    <td>
                                        0 дней
                                    </td>
                                    <td>
                                        <a
                                                href="/tours/tur-v-karpaty-skalistaya-krepost-tustan/">ТУР В КАРПАТЫ
                                            «СКАЛИСТАЯ КРЕПОСТЬ ТУСТАНЬ»</a>
                                        <ul class="card-options card-options-hor-static justify-content-center card-options-sm">
                                            <li class="card-options--item best-price"><span
                                                    class="icon icon-fire"></span>Горящий тур
                                            </li>
                                            <li class="card-options--item new"><span class="icon icon-new-label"></span>Новинка
                                            </li>
                                        </ul>

                                    </td>
                                    <td>
                                        под запрос
                                    </td>
                                    <td>
                                        <strong>90 USD</strong>
                                    </td>

                                </tr>
                                <tr data-month="2">
                                    <td>
                                        <strong>23.01.2020</strong>
                                    </td>
                                    <td>
                                        0 дней
                                    </td>
                                    <td>
                                        <a
                                                href="/tours/tur-v-karpaty-skalistaya-krepost-tustan/">ТУР В КАРПАТЫ
                                            «СКАЛИСТАЯ КРЕПОСТЬ ТУСТАНЬ»</a>
                                        <ul class="card-options card-options-hor-static justify-content-center card-options-sm">
                                            <li class="card-options--item best-price"><span
                                                    class="icon icon-fire"></span>Горящий тур
                                            </li>
                                            <li class="card-options--item new"><span class="icon icon-new-label"></span>Новинка
                                            </li>
                                        </ul>

                                    </td>
                                    <td>
                                        под запрос
                                    </td>
                                    <td>
                                        <strong>90 USD</strong>
                                    </td>

                                </tr>
                                <tr data-month="2">
                                    <td>
                                        <strong>23.01.2020</strong>
                                    </td>
                                    <td>
                                        0 дней
                                    </td>
                                    <td>
                                        <a
                                                href="/tours/tur-v-karpaty-skalistaya-krepost-tustan/">ТУР В КАРПАТЫ
                                            «СКАЛИСТАЯ КРЕПОСТЬ ТУСТАНЬ»</a>
                                        <ul class="card-options card-options-hor-static justify-content-center card-options-sm">
                                            <li class="card-options--item best-price"><span
                                                    class="icon icon-fire"></span>Горящий тур
                                            </li>
                                            <li class="card-options--item new"><span class="icon icon-new-label"></span>Новинка
                                            </li>
                                        </ul>

                                    </td>
                                    <td>
                                        под запрос
                                    </td>
                                    <td>
                                        <strong>90 USD</strong>
                                    </td>

                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</main>
<%= _.template(require('./../includes/layout/footer.html').default)(data) %>
<%= _.template(require('./../includes/components/back-call-form.html').default)({}) %>

</body>
</html>