
.h1,.h2,.h3,.h4,.h5,.h6{
    margin-bottom: $section-tittle-margin-bottom;
}
.section-background-gray, .main_slider-v3--item-text{
    //h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,p,a,span,li{
    //    color: white;
    //}
    .section-tittle{
        .link{

            &:hover{
                transition: all .3s;
                color:white;
            }
        }
    }
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: $font-h;
    color: $header-color;
    background: transparent;
    @include media-breakpoint-up(sm){
        &.with-hr{
            position: relative;
            display: inline-block;
            &:before,&:after{
                content:'';
                width: $header-hr-width;
                height: $header-hr-height;
                background: $header-hr-color;
                position: absolute;
                top: 50%;
                left: -1rem;
                transform: rotate(180deg);
                transform-origin: left;
            };
            &:after{
                left: unset;
                right: -1rem;
                transform: rotate(180deg);
                transform-origin: right;
            }
        }
    }

}
.section-tittle{
    overflow: hidden;
    margin-bottom: $section-tittle-margin-bottom;
    .link{
        color: $secondary-color-text;
        font-size: 1.25rem;
        &:hover{
            transition: all .3s;
            color: $secondary-color-text-hover;
        }
    }

}