@import "../utils/var.scss";
@import "../bscss/_mixins.scss";
.owl{
    &-nav{
        max-width: $max-width-container;
        position: absolute;
        top: calc(50% - #{cr(42px)});
        left: 50%;
        bottom: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        padding: 0 1rem;

    }
    &-next,&-prev{
        height: cr(42px);
        background: transparent !important;
        .btn-outline-secondary{
            border-color: white;
            color: white;
        }
    }

}
.main_slider-v2{
    &--container{
        z-index: 1;

        .js-main_slider{
            position: relative;
        }

    }
    &--item{
        position: relative;
        &::after{
            content: '';
            background-color: rgb(0, 0, 0);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            opacity: .4;
            z-index: -1;
        }
    }
    &--item-img{
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: -1;
        img{
            width: auto !important;
            height: 100vh;
        }
    }
    &--item-text{

        height: calc(100vh - #{cr(280px)});
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        color: white;
        max-width: 100%;
        position: relative;

        .h3{
            font-size: cr(44px);
            text-align:center;
        }
        p{
            text-align:center;
            color: #fff;
            font-size: cr(21px);
            font-weight: 400;
            margin-bottom: 25px;
            line-height: 1.8;

        }
        .btn{
            align-self: baseline;
            margin: 0 auto;
        }
    }
}


@include media-breakpoint-down(sm) {
    .main_slider-v2{
        &--container{
            position: relative;
            top: 0;
        }
        &--item-text{
            height: calc(90vh - #{cr(60px)});
            max-width: 100%;
            align-items: center;
            text-align: center;
            padding-bottom: cr(60px);
            a{
                margin: 0 auto;
            }
            p{
                line-height: 1.2;
            }
        }
        &--container{
            .owl{
                &-nav{
                    bottom: 1rem;
                    top: unset;
                }
                &-prev{
                    display: none !important;
                }

                &-next{
                    margin-left:    auto !important;
                }
            }
        }

    }

}