.nav{
  &-hor-scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    .nav-link{
      white-space: nowrap;
    }

  }

  &-link{

    color: $main-color-text;
    &.active{
      color: $primary;
    }
  }
  &-decoration{
    .nav-link:hover{
      transition: all .3s;
      text-decoration: underline;
    }

  }
  &-left{
    flex-direction: column;
    display: flex;
    .nav-link{
      border-bottom: 1px solid #e1e1e1;
      padding: 1rem ;
      font-size: cr(18px);
      cursor: pointer;
      color: $main-color-text;
      &.active:not(:hover){
        color: white;
        background: $primary;
      }
      &:hover{
        background: #f8f9fa;

      }
    }
    .nav-item{
      &:last-child{
        .nav-link{
          border:0;

        }
      }

    }
  }

}
#auth-tabs{

  .nav-link{
    transition: all .3s;
    color: $secondary-color-text;
    font-family: $font-h;
    padding: 0 1rem;
    margin: 0;
    display: flex;

    align-items: flex-end;
    line-height: 1;
    background: transparent;
    @include media-breakpoint-down('sm'){
      font-size: 16px;
      margin-top: 1rem;
    }
    &.active{
      color: $primary;
      transition: all .3s;
      white-space: nowrap;
    }
  }

}
