<!DOCTYPE html>
<html lang="ru">
  <% var data = { title: "Заголовок | Проект", author: "Harrix" }; %> <%=
  _.template(require('./../includes/header.html').default)(data) %>
  <body>
    <header class="header with-background">
      <%=
      _.template(require('./../includes/navigation_page.html').default)(data) %>
      <%= _.template(require('./../includes/header_bar.html').default)(data) %>
      <%=
      _.template(require('./../includes/header_bar_scroll.html').default)(data)
      %> <%=
      _.template(require('./../includes/top-nav-collapse.html').default)(data)
      %>
      <div class="container mt-5 pb-4">
        <nav aria-label class="label breadcrumb">
          <ol class="breadcrumb px-0">
            <li class="breadcrumb-item">
              <a href="#"><span class="icon-home"></span></a>
            </li>
            <li class="breadcrumb-item"><a href="#">text</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              text
            </li>
          </ol>
        </nav>
        <h1 class=" h1 my-2 mb-3">
          Глоссарий
        </h1>
      </div>
    </header>
    <main id="glosary">
      <div class="container mt-5">
        <div class="row">
          <div class="col-9 mx-auto pre wow fadeInUp">
            <p>
              Этот словарик, в котором собраны толкования основных финансовых
              терминов, создан нами прежде всего для пользователей, которые
              только начинают своё знакомство с финансами. Хотя и бывалым
              «профи» он тоже может пригодиться.
            </p>
            <p>
              С одной стороны, мы постарались охватить все важные понятия и
              определения, с другой – задачей было создать небольшой и
              компактный справочник. Этот словарь пригодится вам для того, чтобы
              на совещании или конференции, услышав слово, в значении которого
              вы сомневаетесь, подглядеть в словарик и увериться, что точно
              понимаете всё, о чем идет речь.
            </p>
          </div>
          <div class="col-9 mx-auto d-flex flex-column mt-5 wow fadeInUp">
            <ul
              class="nav nav-tabs nav-tabs-button-primary mx-auto"
              id="myTab1"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  id="rus-tab"
                  class="btn  btn-outline-primary active"
                  data-toggle="tab"
                  href="#rus"
                  role="tab"
                  aria-controls="rus"
                  aria-selected="false"
                >
                  Кирилица
                </a>
              </li>
              <li class="nav-item">
                <a
                  id="eng-tab"
                  class="btn btn-outline-primary"
                  data-toggle="tab"
                  href="#eng"
                  role="tab"
                  aria-controls="eng"
                  aria-selected="true"
                >
                  Латиница
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="container tab-pane active"
                id="rus"
                role="tabpanel"
                aria-labelledby="rus"
              >
              <div class="d-flex flex-wrap justify-content-center alphabet mt-4">
                  <button class="btn btn-outline-primary" disabled>0-9</button>
                  <button class="btn btn-outline-primary active">а</button>
                  <button class="btn btn-outline-primary">б</button>
                  <button class="btn btn-outline-primary" disabled>в</button>
                  <button class="btn btn-outline-primary">г</button>
                  <button class="btn btn-outline-primary">д</button>
                  <button class="btn btn-outline-primary">е</button>
                  <button class="btn btn-outline-primary" disabled>ё</button>
                  <button class="btn btn-outline-primary">ж</button>
                  <button class="btn btn-outline-primary">з</button>
                  <button class="btn btn-outline-primary">й</button>
                  <button class="btn btn-outline-primary">и</button>
                  <button class="btn btn-outline-primary">к</button>
                  <button class="btn btn-outline-primary">л</button>
                  <button class="btn btn-outline-primary">м</button>
                  <button class="btn btn-outline-primary">м</button>
                  <button class="btn btn-outline-primary">н</button>
                  <button class="btn btn-outline-primary">о</button>
                  <button class="btn btn-outline-primary">п</button>
                  <button class="btn btn-outline-primary">р</button>
                  <button class="btn btn-outline-primary">с</button>
                  <button class="btn btn-outline-primary">т</button>
                  <button class="btn btn-outline-primary">у</button>
                  <button class="btn btn-outline-primary">ф</button>
                  <button class="btn btn-outline-primary">x</button>
                  <button class="btn btn-outline-primary">ц</button>
                  <button class="btn btn-outline-primary">ч</button>
                  <button class="btn btn-outline-primary">ш</button>
                  <button class="btn btn-outline-primary">щ</button>
                  <button class="btn btn-outline-primary">ъ</button>
                  <button class="btn btn-outline-primary">ы</button>
                  <button class="btn btn-outline-primary">ь</button>
                  <button class="btn btn-outline-primary">э</button>
                  <button class="btn btn-outline-primary">ю</button>
                  <button class="btn btn-outline-primary">я</button>
                  <button class="btn btn-outline-primary">...</button>
                </div>
                <div class="row mt-5">
                  <div class="col-3 mb-4">
                    <span class="h1">A</span>
                    <hr/>
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                
                  <div class="col-3 mb-4">
                    <span class="h1">A</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">Б</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">В</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">Г</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">Д</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">Е</span>
                      <hr>
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">Ж</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="container  tab-pane"
                id="eng"
                role="tabpanel"
                aria-labelledby="eng"
              >
              <div class="d-flex flex-wrap justify-content-center alphabet mt-4">
                  <button class="btn btn-outline-primary" disabled>0-9</button>
                  <button class="btn btn-outline-primary active">a</button>
                  <button class="btn btn-outline-primary">b</button>
                  <button class="btn btn-outline-primary" disabled>d</button>
                  <button class="btn btn-outline-primary">e</button>
                  <button class="btn btn-outline-primary">f</button>
                  <button class="btn btn-outline-primary">g</button>
                  <button class="btn btn-outline-primary" disabled>h</button>
                  <button class="btn btn-outline-primary">i</button>
                  <button class="btn btn-outline-primary">j</button>
                  <button class="btn btn-outline-primary">k</button>
                  <button class="btn btn-outline-primary">l</button>
                  <button class="btn btn-outline-primary">m</button>
                  <button class="btn btn-outline-primary">n</button>
                  <button class="btn btn-outline-primary">o</button>
                  <button class="btn btn-outline-primary">p</button>
                  <button class="btn btn-outline-primary">q</button>
                  <button class="btn btn-outline-primary">r</button>
                  <button class="btn btn-outline-primary">s</button>
                  <button class="btn btn-outline-primary">t</button>
                  <button class="btn btn-outline-primary">u</button>
                  <button class="btn btn-outline-primary">v</button>
                  <button class="btn btn-outline-primary">w</button>
                  <button class="btn btn-outline-primary">x</button>
                  <button class="btn btn-outline-primary">y</button>
                  <button class="btn btn-outline-primary">z</button>
                  <button class="btn btn-outline-primary">...</button>
                </div>
                <div class="row mt-5">
                  <div class="col-3 mb-4">
                    <span class="h1">A</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">B</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">C</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">D</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">E</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">F</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">G</span>
                      <hr>
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                  <div class="col-3 mb-4">
                    <span class="h1">H</span>
                    <hr />
                    <ul>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                      <li><a href="#">text kfaskdkg aksdkasd</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="container">
              <%=
              _.template(require('./../includes/social-block.html').default)(data)
              %>
      </div>
      <hr>
    </main>

    <%= _.template(require('./../includes/footer.html').default)(data) %>
  </body>
</html>
