<!DOCTYPE html>
<html lang="ru">
  <% var data = { title: "Заголовок | Проект", author: "Harrix" }; %> <%=
  _.template(require('./../includes/header.html').default)(data) %>
  <body>
    <header class="header">
      <%=
      _.template(require('./../includes/navigation_page.html').default)(data) %>
      <%= _.template(require('./../includes/header_bar.html').default)(data) %>
      <%=
      _.template(require('./../includes/header_bar_scroll.html').default)(data)
      %> <%=
      _.template(require('./../includes/top-nav-collapse.html').default)(data)
      %>
    </header>

    <main id="detail" class="container mt-5">
      <div class="row">
        <div class="col-12 d-lg-none px-0">
          <div class="card-category owl-nav owl-carousel">
            <%=
            _.template(require('./../includes/owl-left-nav.html').default)(data)
            %>
          </div>
        </div>
        <div class="side-bar-left col-3 d-lg-block d-none">
          <div class="card-category position-sticky top-90">
            <div class="card-body vertical with-control">
              <div class="control">
                <span class="icon-circle-arrow-left"></span>
                <span> Назад к списку</span>
              </div>
              <img
                loading="lazy"
                src="/img/category/analytic.svg"
                alt="coins"
                class="card-img"
              />
              <span class="h6">Участники финансовой системы Узбекистана </span>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-12">
          <div class="row">
            <div class="content col-12 col-lg">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb px-0">
                  <li class="breadcrumb-item">
                    <a href="#"><span class="icon-home"></span></a>
                  </li>
                  <li class="breadcrumb-item"><a href="#"> text </a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    text
                  </li>
                </ol>
              </nav>
              <h1 class="h1 my-2 mb-3">
                Что такое инфляция и как она влияет на нашу жизнь?
              </h1>
              <div class="row justify-content-between align-items-center mb-4">
                <div class="col-auto">
                  <div class="tags tag-text px-0">
                    <span class="icon-refresh-cw mr-2"></span>
                    Последнее обновление: 14:15, 30 мая 2019 г.
                  </div>
                </div>
                <div class="col-auto">
                  <div class="tags without-container ">
                    <span class="icon-eye"></span>
                    <span>473</span>
                  </div>
                </div>
              </div>
              <div class="header-img mb-5">
                <img
                  loading="lazy"
                  src="./img/demo/video1.jpg"
                  alt="post-img"
                />
                <div class="tags tag-position">
                  <span class="icon-thumbs-up"></span>
                  <span>473</span>
                </div>
              </div>
              <blockquote class="blockquote mb-4">
                <div class="blockquote_content">
                  Выгоды географического положения города Алмалыка - пересечение
                  сырьевых потоков и близость потребителей, возможность
                  перевозки грузов как автомобильным, так и железнодорожным
                  транспортом - обусловили выбор места для будущего предприятия
                  по выпуску минеральных удобрений.
                </div>
                <div class="blockquote_title">
                  - Абу Али ибн Сина
                </div>
              </blockquote>
              <p>
                В основном цены на товары и услуги зависят от спроса и
                предложения на рынке, а некоторые цены регулируются
                государством. Например, если у фермеров хороший урожай овощей,
                цены на помидоры и картошку будут падать или если в то же время
                государство повысило акцизы на алкоголь, цены на спиртное резко
                возрастут. При этом, общий уровень цен может вырасти на
                незначительный уровень.
              </p>
              <h3 class="h3">
                Как измеряется инфляция?
              </h3>
              <div class="header-img mb-5">
                <img
                  loading="lazy"
                  src="./img/demo/video1.jpg"
                  alt="post-img"
                />
                <div class="tags tag-position">
                  <span class="icon-thumbs-up"></span>
                  <span>473</span>
                </div>
              </div>
              <div class="d-block">
                <div class="float-md-right ml-md-3 mb-1">
                  <h6 class="h6 t-indent">Материалы по теме:</h6>
                  <div class="post">
                    <div class="post-img">
                      <img
                        loading="lazy"
                        src="/img/demo/video1.jpg"
                        alt="post-img"
                      />
                      <div class="tags tag-position">
                        <span class="icon-thumbs-up"></span>
                        <span>473</span>
                      </div>
                    </div>

                    <div class="tags post-tag post-tag-position">
                      <span class="icon-tag"></span>
                      <a href="" class="post-tag-text"> Деньги</a>
                    </div>
                    <p class="p">
                      Как защитить деньги на карте от посягательств мошенников
                    </p>
                  </div>
                </div>
                <p class="t-indent">
                  В большинстве стран мира инфляция измеряется на основе
                  потребительской корзины, которая представляет собой - набор
                  продуктов, товаров и услуг, которые регулярно приобретает
                  среднестатистический человек или семья. В нее обычно включены
                  около 500 товаров и услуг - например, продукты питания,
                  одежда, коммунальные услуги и т.д.
                </p>
                <p class="t-indent">
                  Стоимость потребительской корзины меняется от месяца к месяцу.
                  Это изменение и есть инфляция. Некоторые товары вовсе и не
                  включаются при расчёте инфляции, потому что цены на них быстро
                  и легко меняются и могут привести к ошибочным расчётам. Чтобы
                  избежать таких явлений, существует понятие «базовая инфляция».
                </p>
                <h3 class="h3">
                  Что такое «базовая инфляция»?
                </h3>
                <p class="t-indent">
                  Базовая инфляция - это изменение стоимости товаров и услуг, не
                  включающая в себя товары, относящиеся к продовольственному и
                  энергетическому секторам. Эта мера инфляции исключает эти
                  статьи, потому что их цены гораздо более волатильны
                  (изменчивы). Чаще всего он рассчитывается индексом
                  потребительских цен (ИПЦ).
                </p>
              </div>
              <hr />
              <ul>
                <li>
                  <strong>O'zbekcha: </strong> Inflyatsiya nima va bu bizning
                  hayotimizga qanday ta'sir qiladi?
                </li>
                <li>
                  <strong>In english:</strong> What is inflation and how does it
                  affect our lives?
                </li>
              </ul>
            </div>
            <div class="side-bar-right col-12 col-lg">
              <div
                class="position-sticky top-90 d-flex align-items-lg-center flex-column"
              >
                <div
                  class="d-flex flex-lg-column align-items-center mb-3 mb-lg-0"
                >
                  <button class="btn btn-outline-primary only-icon">
                    <span class="icon-thumbs-up"></span>
                  </button>
                  <small class="text-small text-center m-2 mx-lg-0"
                    >86% посетителей считают эту статью полезной</small
                  >
                </div>
                <div class="d-flex flex-lg-column">
                  <button
                    class="btn btn-outline-primary only-icon"
                    data-toggle="collapse"
                    data-target="#collapseShare"
                    aria-expanded="false"
                    aria-controls="collapseShare"
                  >
                    <span class="icon-share-2"></span>
                  </button>
                  <div id="collapseShare" class="collapse">
                    <div
                      class="d-flex justify-content-center flex-wrap align-items-center h-100  ml-2 ml-lg-0"
                    >
                      <%=
                      _.template(require('./../includes/social-small.html').default)(data)
                      %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <hr />
              <%=
              _.template(require('./../includes/social-block.html').default)(data)
              %>
              <hr />
            </div>
            <div class="col-12">
              <h3>Вам также может быть интересно:</h3>
              <div class="row">
                <div
                  class="col-12 col-sm-6 col-md-4 px-0  mb-3 wow fadeInUp"
                  style="visibility: visible; animation-name: fadeInUp;"
                >
                  <div class="post">
                    <div class="post-img">
                      <img
                        loading="lazy"
                        src="./img/demo/video1.jpg"
                        alt="post-img"
                      />
                      <div class="tags tag-position">
                        <span class="icon-thumbs-up"></span>
                        <span>473</span>
                      </div>
                    </div>

                    <div class="tags post-tag post-tag-position">
                      <span class="icon-tag"></span>
                      <a href="" class="post-tag-text"> Деньги</a>
                    </div>
                    <span class="p">
                      Как защитить деньги на карте от посягательств мошенников
                    </span>
                  </div>
                </div>
                <div
                  class="col-12 col-sm-6 col-md-4 px-0  mb-3 wow fadeInUp"
                  style="visibility: visible; animation-name: fadeInUp;"
                >
                  <div class="post">
                    <div class="post-img">
                      <img
                        loading="lazy"
                        src="./img/demo/video1.jpg"
                        alt="post-img"
                      />
                      <div class="tags tag-position">
                        <span class="icon-thumbs-up"></span>
                        <span>473</span>
                      </div>
                    </div>

                    <div class="tags post-tag post-tag-position">
                      <span class="icon-tag"></span>
                      <a href="" class="post-tag-text"> Деньги</a>
                    </div>
                    <span class="p">
                      Как защитить деньги на карте от посягательств мошенников
                    </span>
                  </div>
                </div>
                <div
                  class="col-12 col-sm-6 col-md-4 px-0  mb-3 wow fadeInUp"
                  style="visibility: visible; animation-name: fadeInUp;"
                >
                  <div class="post">
                    <div class="post-img">
                      <img
                        loading="lazy"
                        src="./img/demo/video1.jpg"
                        alt="post-img"
                      />
                      <div class="tags tag-position">
                        <span class="icon-thumbs-up"></span>
                        <span>473</span>
                      </div>
                    </div>

                    <div class="tags post-tag post-tag-position">
                      <span class="icon-tag"></span>
                      <a href="" class="post-tag-text"> Деньги</a>
                    </div>
                    <span class="p">
                      Как защитить деньги на карте от посягательств мошенников
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%= _.template(require('./../includes/footer.html').default)(data) %>
  </body>
</html>
