<!DOCTYPE html>
<html lang="ru">
  <% var data = { title: "Заголовок | Проект", author: "Harrix" }; %> <%=
  _.template(require('./../includes/header.html').default)(data) %>
  <body>
    <header class="header">
      <%=
      _.template(require('./../includes/navigation_page.html').default)(data) %>
      <%= _.template(require('./../includes/header_bar.html').default)(data) %>
      <%=
      _.template(require('./../includes/header_bar_scroll.html').default)(data)
      %> <%=
      _.template(require('./../includes/top-nav-collapse.html').default)(data)
      %>
    </header>

    <main class="container mt-5">
      <div class="row">
        <div class="col-12 d-lg-none px-0">
          <div class="card-category owl-nav owl-carousel">
            <%=
            _.template(require('./../includes/owl-left-nav.html').default)(data)
            %>
          </div>
        </div>
        <div class="side-bar-left col-3 d-none d-lg-block">
          <div class="left-nav ">
            <ul class="card-category">
              <%=
              _.template(require('./../includes/left-nav.html').default)(data)
              %>
            </ul>
            <div class="baner mt-4 mx-auto">
              <div class="logo-body">
                <div class="logo"></div>
                <div class="logo-text">
                  <span class="small">
                    Портал
                  </span>
                  <span class="h5">
                    Финансовая грамотность
                  </span>
                </div>
                <ul class="baner-list">
                  <li class="baner-list-item">Откуда появились деньги?</li>
                  <li class="baner-list-item">Что такое депозит и вклад?</li>
                  <li class="baner-list-item">
                    Как составить семейный бюджет?
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content col-12 col-lg-9">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#"><span class="icon-home"></span></a>
              </li>
              <li class="breadcrumb-item"><a href="#">text</a></li>
              <li class="breadcrumb-item"><a href="#">text</a></li>
              <li class="breadcrumb-item active" aria-current="page">text</li>
            </ol>
          </nav>
          <h1 class="h1 my-2 mb-3">Депозиты и вклады</h1>

          <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item.html').default)(data)
          %>
          <hr />

          <%=
          _.template(require('./../includes/social-block.html').default)(data)
          %>

          <hr />
        </div>
      </div>
    </main>

    <%= _.template(require('./../includes/footer.html').default)(data) %>
  </body>
</html>
