<!DOCTYPE html>
<html lang="ru">
  <% var data = { title: "Заголовок | Проект", author: "Harrix" }; %> <%=
  _.template(require('./../includes/header.html').default)(data) %>
  <body>
    <header class="header">
      <%=
      _.template(require('./../includes/navigation_page.html').default)(data) %>
      <%= _.template(require('./../includes/header_bar.html').default)(data) %>
      <%=
      _.template(require('./../includes/header_bar_scroll.html').default)(data)
      %> <%=
      _.template(require('./../includes/top-nav-collapse.html').default)(data)
      %>
    </header>

    <main class="container mt-5">
      <div class="row">
        <div class="side-bar-left col-3 d-none d-lg-flex ">
          <div class="card-category position-sticky top-90">
            <div class="card-body vertical with-control">
              <div class="control">
                <span class="icon-circle-arrow-left"></span>
                <span> Назад к списку</span>
              </div>
              <img
                loading="lazy"
                src="/img/category/analytic.svg"
                alt="coins"
                class="card-img"
              />
              <span class="h6">Участники финансовой системы Узбекистана </span>
            </div>
          </div>
        </div>
        <div class="content col-12 col-lg-9">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#"><span class="icon-home"></span></a>
              </li>
              <li class="breadcrumb-item"><a href="#">text</a></li>
              <li class="breadcrumb-item"><a href="#">text</a></li>
              <li class="breadcrumb-item active" aria-current="page">text</li>
            </ol>
          </nav>
          <h1 class="h1 my-2 mb-3">Депозиты и вклады</h1>

          <%=
          _.template(require('./../includes/collapse-item-without.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item-without.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item-without.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item-without.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item-without.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item-without.html').default)(data)
          %> <%=
          _.template(require('./../includes/collapse-item-without.html').default)(data)
          %>

          <hr />

          <%=
          _.template(require('./../includes/social-block.html').default)(data)
          %>

          <hr />
        </div>
      </div>
    </main>

    <%= _.template(require('./../includes/footer.html').default)(data) %>
  </body>
</html>
