@function cr($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
@function ind($i){
  $size: 1px / 3px * $i;
  @return #{$size}rem;
}



//$tabs
$tabs-radius: cr(25px) cr(25px) 0 0;

$primary: #449fd3;
$primary-hover: #3c82d3;
$primary-hover-shadow: rgba(60, 130, 211, 0.6);
$secondary: #ff6917;
$secondary-hover: #ff5508;
$secondary-hover-shadow: rgba(255, 85, 8, 0.56);
$rating-star: #ffc917;


//section-tittle
$section-tittle-margin-bottom: 2rem;

//форма поиска на главной
$color-label-search-form: white;
$background-header-form: transparent;
$background-body-form: transparent;
//настройки текста контента
$font-body: Roboto;
$nav-color-link:#263238;
$nav-color-link-mobile:#263238;
$main-color-text: #263238;
$secondary-color-text: #898989;
$secondary-color-text-hover:#595959;

// хлебные крошки
$breadcrumb-text:#263238;
$breadcrumb-text-active: #455a64;

//цвет вторичного фона
$section-background-2:#f4f7f7;

//цвета опции тура
$color-best-price: red;
$color-new: #ffc917;
$color-doc: $primary;
$color-custom-tour:green;

//тени
$shadow:0 3px 15px #94939347;
//$shadow:'';
$shadow-hover: 0 3px 15px rgba(63, 62, 62, 0.28);

//бордер
$border-card: 1px solid rgba(227, 227, 227, 0.52) !important;

//карточки
$card-hover-background:#40322d98;
$card-background: white;
$card-border-radius: cr(25px);
$card-tittle-size: cr(14px);
$card-shadow:'';
$card-shadow-hover:0 3px 27px 13px rgba(0,0,0,0.15);
//navbar
$navbar-background: white;

//contact--list
$navbar-dectop--contact--list-flexbasis: 65%;
$navbar-contact--list-item-padding:cr(10px);
$navbar-desctop--contact--list-item-padding: cr(3px);
$navbar-desctop--contact--list-font-size: cr(13px);

//цвет линии hr
$hr-color:263238;
.hr{
  height: 1px;
  width: 100%;
  background: $hr-color;
}

//кнопки
$btn-radius:cr(25px);
$theme-colors: (
        "primary":$secondary,
        "secondary": $secondary
);

$btn-padding: cr(15px);
$btn-height: cr(45px);
$btn-width: cr(45px);

// форма
$input-radius:cr(25px);
$input-height: cr(45px);


//Заголовки
$font-h: Merriweather;
$font-h: Roboto;
$header-color: #263238;
$header-color-invers:#fffdfc;
$header-hr-width: cr(100px);
$header-hr-height: cr(2px);
$header-hr-color: #263238;

//modal

$modal-container-radius:cr(25px);

//сетка
$max-width-container:1560px;
$container-max-widths: (
        sm: 100%,
        md: 100%,
        lg: 100%,
        xl: 1320px
);
$grid-breakpoints: (
        xs: 0,
        sm: 660px,
        md: 840px,
        lg: 1080px,
        xl: 1320px
);

:root{

  //шрифты
  --font-icon: 'icomoon';
  // основные цвета
  --primary-color:$primary;
  --secondary-color:$secondary;
  // основные цвета шрифтов

  --nav-color-link:#263238;
  --nav-color-link-mobile:#263238;
  --main-color-text: #263238;
  --secondary-color-text: #455a64;

  //шрифты
  --main-font:Roboto;
  --heading-font: Merriweather;

  //фон
  --section-background-gray: #f4f7f7;
  --section-background-white: white;


  //хлебные крошки


}
