@function cr($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
@function ind($i){
  $size: 1px / 3px * $i;
  @return #{$size}rem;
}


$font-body: Roboto;
$primary: #40322d;
$secondary: #99594c;
$rating-star: #ffc917;
$max-width-container:1560px;
$nav-color-link:#25292c;
$nav-color-link-mobile:#25292c;



$main-color-text: #25292c;
$secondary-color-text: #6b757c;
$section-background-2:#f5f0e7ab;

//цвета опции тура
$color-best-price: red;
$color-new: #ffc917;
$color-doc: $primary;
$color-custom-tour:green;

//тени
$shadow:0 0px 15px #d8d8d847;
$shadow-hover: 0 0px 15px #77767647;

//бордер
$border-card: 1px solid #99594c !important;

//карточки
$card-hover-background:#40322d98;
//navbar
$navbar-background: #f5f0e7;

//contact--list
$navbar-dectop--contact--list-flexbasis: 60%;
$navbar-contact--list-item-padding:cr(10px);
$navbar-desctop-contact--list-item-padding: cr(3px);

//цвет линии hr
$hr-color:#99594c;
.hr{
  height: 1px;
  width: 100%;
  background: $hr-color;
}

//кнопки
$btn-radius:cr(8px);
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);
$btn-padding: cr(15px);
$btn-height: cr(40px);
$btn-width: cr(40px);

// форма
$input-radius:cr(8px);
$input-height: cr(40px);


//Заголовки
$font-h: Merriweather;
$header-color: #99584c;
$header-hr-width: cr(100px);
$header-hr-height: cr(2px);
$header-hr-color: #99584c;
h1,h2,h3,h4,h5,h6{
  font-family: $font-h;
  color: $header-color;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1320px
);


body{
  min-height: 2600px;
  color: $main-color-text;
  font-family: $font-body;
}



html{
  font-size: 16px;
  color: $main-color-text;
}


@import "../assets/mfp.popup.css";
@import "bootstrap/scss/bootstrap";
@import "select2.min.css";
@import "select2-bootstrap.min.css";
@import "./components/btn.scss";
@import "./fonts.scss";
@import "./components/header.scss";
@import "./components/navbar.scss";
@import "./components/main_slider.scss";
@import "./components/forms.scss";
@import "./components/header-search.scss";
@import "./components/card.scss";
@import "./components/main-search_form.scss";
@import "./components/section-indents.scss";
@import "./components/section-background.scss";
@import "./components/main_rewies-slider.scss";
@import "./components/main-best-price.scss";
@import "./components/card-rewies.scss";
@import "./components/main_contact.scss";
@import "./components/contact-list.scss";
@import "./components/subscribe.scss";
@import "./components/H1.scss";
@import "./components/footer.scss";