<form action="">
    <div class="d-flex justify-content-between">
        <div class="form-group"><label for=""><span class="icon icon-place-localizer mr-1"
                                                    style="font-weight: bolder"></span> Выезд из:</label>
            <input type="text" class="form-control"
                   placeholder="kasdkasf askdasd"></div>
        <div class="form-group"><label for=""><span class="icon icon-place-localizer mr-1"
                                                    style="font-weight: bolder"></span> Куда: </label>
            <input type="text" class="form-control"
                   placeholder="kasdkasf askdasd"></div>
        <div class="form-group"><label for=""><span class="icon icon-calendar mr-1"></span>Дата выезда:</label>
            <input type="text" class="form-control"
                   placeholder="kasdkasf askdasd"></div>
        <div class="form-group"><label for=""><span class="icon icon-user mr-1"></span>Пассажиров:</label>
            <input type="text" class="form-control"
                   placeholder="kasdkasf askdasd"></div>
        <div class="form-group mb-3">
            <label for="" class="mb-2"> <span class="icon icon-star-full mr-1"></span> Рейтинг туров:</label>
            <input type="text" class="form-control"
                   placeholder="kasdkasf askdasd">
        </div>
    </div>


    <div class="form-button--container justify-content-end mt-0">
        <div class="btn btn-secondary mr-2">
            Показать
        </div>
        <div class="btn btn-outline-secondary">
            Сбросить
        </div>

    </div>
</form>
