<div class="collapse navbar-collapse drawer full-height" id="navbarTogglerDemo02">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon icon-close-button"></span>
    </button>
    <div class="container-fluid h-95vh" style="overflow: scroll">
        <div class="row h-100 bg-white section-py-0">
        <div class="col-md-4 px-0">

                    <%= filter %>


        </div>
            <div class="col-md-8">
                <div class="py-4">
                    <%= price %>
                </div>
            </div>
    </div>
    </div>


</div>