
        <form action="">
            <div class="form-group"><label for=""><span class="icon icon-place-localizer mr-1" style="font-weight: bolder"></span> Выезд из:</label>
                <input type="text" class="form-control"
                       placeholder="kasdkasf askdasd"></div>
            <div class="form-group"><label for=""><span class="icon icon-place-localizer mr-1" style="font-weight: bolder"></span> Куда: </label>
                <input type="text" class="form-control"
                       placeholder="kasdkasf askdasd"></div>
            <div class="form-group"><label for=""><span class="icon icon-calendar mr-1"></span>Дата выезда:</label>
                <input type="text" class="form-control"
                       placeholder="kasdkasf askdasd"></div>
            <div class="form-group"><label for=""><span class="icon icon-user mr-1"></span>Пассажиров:</label>
                <input type="text" class="form-control"
                       placeholder="kasdkasf askdasd"></div>
            <div class="form-group--container mb-3">
                <label for="" class="mb-2"> <span class="icon icon-star-full mr-1"></span> Рейтинг туров:</label>
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label card-rating" for="exampleRadios1">
                        <span class="icon icon-star-full"></span>
                    </label>
                </div>


                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                    <label class="form-check-label card-rating" for="exampleRadios3">
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full"></span>
                    </label>
                </div>
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                    <label class="form-check-label card-rating" for="exampleRadios3">
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full"></span>
                    </label>
                </div>
                <div class="form-check  d-flex align-items-center">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4" >
                    <label class="form-check-label card-rating" for="exampleRadios4">
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full"></span>
                    </label>
                </div><div class="form-check  d-flex align-items-center">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5" >
                <label class="form-check-label card-rating" for="exampleRadios5">
                    <span class="icon icon-star-full"></span>
                    <span class="icon icon-star-full"></span>
                    <span class="icon icon-star-full"></span>
                    <span class="icon icon-star-full"></span>
                    <span class="icon icon-star-full"></span>
                </label>
            </div>


            </div>

            <div class="form-button--container">
                <div class="btn btn-secondary">
                    Показать
                </div>
            <div class="btn btn-outline-secondary">
                Сбросить
            </div>

            </div>
        </form>
