<div class="d-flex justify-content-center  mx-auto flex-wrap w-75">
    <button class="btn btn-social p-0 vk "><span class="icon-vk"></span></button>
<!--    <button class="btn btn-social p-0 tel "><span class="icon-telegram"></span></button>-->
    <button class="btn btn-social p-0 fb "><span class="icon-facebook"></span></button>
<!--    <button class="btn btn-social p-0 inst "><span class="icon-instagram"></span></button>-->
<!--    <button class="btn btn-social p-0 vb "><span class="icon-whatsapp"></span></button>-->
    <button class="btn btn-social p-0 tw "><span class="icon-twitter"></span></button>
    <button class="btn btn-social p-0 goggle "><span class="icon-google"></span></button>
</div>